<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #283891">
  <a class="navbar-brand" routerLink=''>Jay's Auto Body Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/client">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/carlist"> My Cars </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/cregister-car"> Register New Car </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/creq-app"> Request Workshop Appointment </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/ccheck-app"> Check Appointment Status </a>
      </li>
    </ul>
  </div>
  <button class='btn btn-outline-info'> Logout </button>
</nav>