<app-default-navbar></app-default-navbar>
<div class="container">
	<div class="row" style="padding-top: 5%;">
		<div class="col-md-5">
			<p class="display-4">Contact Us</p>
		</div>
		<div class="col-md-7">
			<p class="display-5"><strong>Have a suggestion?</strong> Let us know!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
		    <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=en&coord=47.6090662,-122.33016789999999&q=Right%20Here!%20+(Jay's%20Auto%20Body%20Shop)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		  </div>
		  <div class="col-md-7">
		  	<form>
						<div class="col-md-6 form-line">
				  			<div class="form-group">
				  				<label for="exampleInputUsername">Your name</label>
						    	<input type="text" class="form-control" id="" placeholder=" Enter Name">
					  		</div>
					  		<div class="form-group">
						    	<label for="exampleInputEmail">Email Address</label>
						    	<input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
						  	</div>	
						  	<div class="form-group">
						    	<label for="telephone">Mobile No.</label>
						    	<input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
				  			</div>
				  		</div>
				  		<div class="col-md-6">
				  			<div class="form-group">
				  				<label for ="description"> Message</label>
				  			 	<textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
				  			</div>
				  			<div>

				  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
				  			</div>
				  			
						</div>
					</form>
		  </div>
	</div>		
</div>	