<app-client-navbar></app-client-navbar>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well" style="background-color: rgba(42,170,189,.6);">
				<h2 class="display-2">
					Welcome to the Car Registration
				</h2>
				<p class='lead'>
					Please input your basic car information here. <strong> Once you take your car to the shop for any service or revision, a more detailed log will be created for your personal peruse. </strong>
				</p>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="thumbnail" width="100%" />
			<div class="input-group mb-3">
			  <div class="custom-file">
			    <input type="file" class="custom-file-input" id="inputGroupFile02">
			    <label class="custom-file-label" for="inputGroupFile02"><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
			  </div>
			  <div class="input-group-append">
			    <span class="input-group-text" id=""><i class="fa fa-upload" aria-hidden="true"></i></span>
			  </div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							 
							<label for="carnickname" class="col-sm-2 control-label">
								Nickname
							</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="carnickname" placeholder="Car Nickname (Optional)"/>
							</div>
						</div>
						<div class="form-group">
							 
							<label for="platenumber" class="col-sm-2 control-label">
								Plate Number
							</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="platenumber" placeholder="Plate Number" />
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
						<form class="form">
						  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Year</label>
						  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
						    <option selected>Choose...</option>
						    <option value="1">2017</option>
						    <option value="2">2016</option>
						    <option value="3">2015</option>
						    <option value="4">2014</option>
						    <option value="5">2013</option>
						    <option value="6">2012</option>
							<option value="7">2011</option>
							<option value="8">2010</option>
							<option value="9">2009</option>
						  </select>

						  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Make</label>
						  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
						    <option selected>Choose...</option>
						    <option value="1">Mercedes</option>
						    <option value="2">Toyota</option>
						    <option value="3">Suzuki</option>
						    <option value="4">Subaru</option>
						    <option value="5">Mitsubishi</option>
						    <option value="6">MBW</option>
							<option value="6">Audi</option>
							<option value="6">Bentley</option>
							<option value="6">Chery</option>
						  </select>

						  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Model</label>
						  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
						    <option selected>Choose...</option>
						    <option value="1">Mercedes</option>
						    <option value="2">Toyota</option>
						    <option value="3">Suzuki</option>
						    <option value="4">Subaru</option>
						    <option value="5">Mitsubishi</option>
						    <option value="6">MBW</option>
							<option value="6">Audi</option>
							<option value="6">Bentley</option>
							<option value="6">Chery</option>
						  </select>
						</form>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<img alt="mycar-img" src="../../assets/2.jpg" width="100%" style="border-radius: 12px ;margin-top:2%; margin-bottom: 2%;" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form>
            <h2>Condition</h2>
            <div class="form-check">
              <label>
                <input type="radio" name="radio" checked> <span class="label-text">New</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="radio" name="radio"> <span class="label-text">Second Hand</span>
              </label>
            </div>
          </form>
		</div>
		<div class="col-md-4">
			<form>
	            <h2>Insurance</h2>
	            <div class="form-check">
	              <label>
	                <input type="radio" name="radio" > <span class="label-text">Yes</span>
	              </label>
	            </div>
	            <div class="form-check">
	              <label>
	                <input type="radio" name="radio" checked> <span class="label-text">No</span>
	              </label>
	            </div>
	          </form>
		</div>
		<div class="col-md-4">
			<div class="form-group">
					 
					<label for="inputEmail3" class="col-sm-2 control-label" disabled>
						Company
					</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" disabled/>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="inputPassword3" class="col-sm-2 control-label">
						ID
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputPassword3" disabled/>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-1">
			 
			<button type="button" class="btn btn-block btn-xs btn-info" routerLink="/client/carlist">
				Register
			</button>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-1">
			 
			<button type="button" class="btn btn-block btn-xs btn-danger" routerLink="/client">
				Cancel
			</button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>