<app-client-navbar></app-client-navbar>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron well">
				<h2>
					Hello, world!
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							 
							<label for="inputEmail3" class="col-sm-2 control-label">
								Email
							</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="inputEmail3" />
							</div>
						</div>
						<div class="form-group">
							 
							<label for="inputPassword3" class="col-sm-2 control-label">
								Password
							</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="inputPassword3" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									 
									<label>
										<input type="checkbox" /> Remember me
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								 
								<button type="submit" class="btn btn-default">
									Sign in
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Email address
							</label>
							<input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Password
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputFile">
								File input
							</label>
							<input type="file" id="exampleInputFile" />
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<div class="checkbox">
							 
							<label>
								<input type="checkbox" /> Check me out
							</label>
						</div> 
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<<img src='../../assets/2.jpg' width='100%' style="padding-top: 2%; padding-bottom:2%">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form class="form-horizontal" role="form">
				<form class="form-inline">
				  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Year</label>
				  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
				    <option selected>Choose...</option>
				    <option value="1">2017</option>
				    <option value="2">2016</option>
				    <option value="3">2015</option>
				    <option value="4">2014</option>
				    <option value="5">2013</option>
				    <option value="6">2012</option>
					<option value="7">2011</option>
					<option value="8">201</option>
					<option value="9">201</option>
				  </select>
				</form>
			</form>
		</div>
		<div class="col-md-4">
			<form class="form-horizontal" role="form">
				<form class="form-inline">
				  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Make</label>
				  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
				    <option selected>Choose...</option>
				    <option value="1">Mercedes</option>
				    <option value="2">Toyota</option>
				    <option value="3">Suzuki</option>
				    <option value="4">Subaru</option>
				    <option value="5">Mitsubishi</option>
				    <option value="6">MBW</option>
					<option value="6">Audi</option>
					<option value="6">Bentley</option>
					<option value="6">Chery</option>
				  </select>
				</form>
			</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<form role="form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Car Name
					</label>
					<input type="email" class="form-control" id="exampleInputEmail1" />
				</div>
				<div class="form-group">
					 
					<label for="exampleInputPassword1">
						Year
					</label>
					<input type="password" class="form-control" id="exampleInputPassword1" />
				</div>
			</form>
		</div>
		<div class="col-md-3">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					 
					<label for="inputEmail3" class="col-sm-2 control-label">
						Model
					</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" />
					</div>
				</div>
				<div class="form-group">
					 
					<label for="inputPassword3" class="col-sm-2 control-label">
						Plate Number
					</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputPassword3" />
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-3">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							 
							<label>
								<input type="checkbox" /> Insurance
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="inputEmail3" class="col-sm-2 control-label">
						Insurance Company
					</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" />
					</div>
				</div>
				<div class="form-group">
					 
					<label for="inputPassword3" class="col-sm-2 control-label">
						Insurance ID
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputPassword3" />
					</div>
				</div>
			</form>
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>

