<app-default-navbar></app-default-navbar>
<div class="container-fluid">
	<h1 class='display-1'> The Founder: Jay Park </h1>
	<br>
	<p class='display-4'> Jay's Auto Body Shop was founded by Seattle-native, and famous kpop star, Jay Park. Born Jaebeom Park, after taking a small break from the famous life, he decided to pursue an old hobby and here we are. </p>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md">
						
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p class="lead">He joined a South Korean entertainment company, JYP, and was selected to lead a K-Pop boy band called 2PM but soon after his debut he was caught in a scandal that cost him his place in the group and the company. After being kicked out of the Ken-doll rapper producing company that is JYP, he returned to Seattle and worked in an auto shop as he continued to work on his artistic abilities. Thanks to the ever growing support of his fans, after posting a video on Youtube he earned popularity once again. A new opportunity was presented in front of him, an opportunity he wasn’t going to refuse.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p class="lead">In spite of his bad reputation, he became one of South Koreans most popular solo artists, creating his own label, AOMG, for artists to pursue their career in creative freedom. Now working on his second label, H1GHR MUSIC, combining talents from both South Korea and Seattle, he’s decided to invest in a business away from the spotlight. Jay’s Auto Body Shop, opened in early 2018, with over 800 locations all over the world is the fastest growing Auto repair service in the Northern Hemisphere. With reasonable prices and impeccable service, any engine problem is sure to be fixed. A sure and reliable service with the guarantee of care and dedication from all of the employees, following the example of its founder.</p>
					</div>
				</div>
				<div class="row">
				  	<div class="col-md">
				  		<p class="lead"> Multifaceted entrepreneur, Jay Park, has shown over the years that hard work and dedication can over come any obstacle, no matter how difficult or powerful. Born in Seattle in 1987, he discovered a passion and a talent for dancing, rapping and singing, immersing himself in the fast growing hip-hop culture of the cosmopolitan city. </p>
				  	</div>	
				  			
				</div>
				<div class="row">
					<div class="col-md">
						<p class="lead">He joined a South Korean entertainment company, JYP, and was selected to lead a K-Pop boy band called 2PM but soon after his debut he was caught in a scandal that cost him his place in the group and the company. After being kicked out of the Ken-doll rapper producing company that is JYP, he returned to Seattle and worked in an auto shop as he continued to work on his artistic abilities. Thanks to the ever growing support of his fans, after posting a video on Youtube he earned popularity once again. A new opportunity was presented in front of him, an opportunity he wasn’t going to refuse.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<p class="lead">In spite of his bad reputation, he became one of South Koreans most popular solo artists, creating his own label, AOMG, for artists to pursue their career in creative freedom. Now working on his second label, H1GHR MUSIC, combining talents from both South Korea and Seattle, he’s decided to invest in a business away from the spotlight. Jay’s Auto Body Shop, opened in early 2018, with over 800 locations all over the world is the fastest growing Auto repair service in the Northern Hemisphere. With reasonable prices and impeccable service, any engine problem is sure to be fixed. A sure and reliable service with the guarantee of care and dedication from all of the employees, following the example of its founder.</p>
					</div>
				</div>
			</div>
			<div class="col-md-5 offset-md-1">
				<div class="col-md-4 offset-md-1" rowspan='5'>
					<img src='../../assets/auto repair shop.png' rowspan='4' width='400%'>
					<blockquote> <i>So good, so good.</i></blockquote>
				</div>
			</div>
		</div>
		
	</div>
</div>
 