<nav class="navbar navbar-expand-md navbar-dark justify-content-between sticky-top" style="background-color: #283891">
  	<a class="navbar-brand" routerLink=''>
	  	<img src="../../../assets/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
		<span style="font-family: 'Raleway'; font-size: 27px">
			Main Page
		</span>
	</a>
	<span class="navbar-text">
	    Welcome, Admin [Name]! 
	  </span>
	  <form class="form-inline">
	    <button class="btn btn-outline-light my-2 my-lg-0" type="submit">
	    	<i class="fa fa-sign-out" aria-hidden="true"></i>
	    </button>
	  </form>
</nav>
<img alt="admin-banner-img" src="../../assets/admin-banner.png" width='100%'  style="padding-bottom: 10%"/>

<div class="container-fluid" style="font-size: 'Roboto Slab'">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<img alt="admin-users-img" src="../../assets/admin-users.png" width='100%' />
				</div>
				<div class="col-md-6">
					<h3>
						<span class="display-3">Users</span>
					</h3>
					<p>
						Listing of all users in the system, <strong>both verified and not-yet verified users</strong>. Atlanta's manager are currently under probation. <small>For more details, contact the main administrator, @adminjoe</small>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button routerLink='userlist' type="button" class="btn btn-block btn-primary" style='margin: 2% 0 2% 0'>
						Users
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
					<img alt="admin-inv-img" src="../../assets/admin-inventory.png" width=100% />
				</div>
				<div class="col-md-6">
					<h3>
						<span class="display-4"> Inventory</span>
					</h3>
					<p>
						Listing of all currently available car pieces, and pieces requests made by company users. <strong>No piece request can go to the Supplies division without a manager's validation.</strong> 
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button routerLink='inv' type="button" class="btn btn-block btn-info" style='margin: 2% 0 2% 0'>
						Inventory
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
	

<div class="container-fluid" id='admin-options'>




	<div class="row">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3" id="centered">
			
		</div>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-6">
			 
			
		</div>
		<div class="col-md-6">
			 
			
		</div>
	</div>
</div>