<nav class="navbar navbar-expand-md navbar-dark justify-content-between sticky-top" style="background-color: #2AAABD;">
  	<a class="navbar-brand" routerLink=''>
	  	<img src="../../../assets/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
		<span style="font-family: 'Raleway'; font-size: 27px">
			Main Page
		</span>
	</a>
	<span class="navbar-text">
	    Welcome, Manager [Name]! 
	  </span>
	  <form class="form-inline">
	    <button class="btn btn-outline-light my-2 my-lg-0" type="submit">
	    	<i class="fa fa-sign-out" aria-hidden="true"></i>
	    </button>
	  </form>
</nav>