<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #283891">
  <a class="navbar-brand" href="#">Jay's Auto Body Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="services"> Our Services </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="history">Our History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contacts">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="client">Vista Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="manager">Vista Gerente</a>
      </li>
    </ul>
    <div class="spaced-out">
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
	      <button class="btn btn-outline-light" routerLink='register-client'> <i class="fa fa-user-o" aria-hidden="true"></i> Log In</button>
	    </form>
	    
	</div>
  </div>
</nav>