<nav class="navbar navbar-dark justify-content-between sticky-top" style="background-color: #283891">
  
  	<a class="navbar-brand" routerLink='/admin'>
		<span style="font-family: 'Alegreya Sans'">
			<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
			Dashboard
		</span>
	</a>
	<span class="navbar-text">
	    Welcome, Admin [Name]! 
	  </span>
	  <form class="form-inline">
	    <button class="btn btn-outline-light my-2 my-lg-0" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
	  </form>
  
</nav>